


.AppBody{
  background-color:  #1e1e22 ;
  padding:5px;
  width:100%;
  overflow-x:hidden;
}

.about{
  text-align: justify;
}



/* background */
.container {
  background-color:  #1e1e22 ;
  max-width: 450px;
  padding-top:10px;
  margin-left:2px;
  font-size: calc(8px + 1vmin);
  color: white;
  position:relative;
  border-radius: 10px;
  padding-left: 0px;
  padding-right:0px;
  margin: 0 auto;
}


.navbar{
  max-width: 450px;
  margin: 0 auto;
  padding:3px;
}

#navbarNav{
  margin:0px;

}

/* select countries dropdown */

.dropdown-icon {
  cursor: pointer;
  /* additional styling for the icon */
}

.country-dropdown {
  max-width: 190px;        /* Adjust width as needed */
  max-height: 10;        /* Adjust height as needed */
  border-radius: 15px; /* Adjust border-radius as needed */
  font-size: 14px;
  padding: 3px;

  /* Add other styling if necessary */
}
/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .country-dropdown {
      max-width: 100%;    /* Smaller max-width for mobile screens */
      display: block;  
  }
}


#center-content{
  padding-right:0px;
}


.form{
  color: white;
}

.Navigation{
  background-color: #1e1e22;
  position: sticky;
  top: 0;
  z-index: 10;
  border: 1px;
  border:solid;
  border-top-color:  #1e1e22;
  border-left-color:  #1e1e22 ;
  border-right-color: #1e1e22 ;
  border-width: 1px; 
  border-bottom-color: rgb(41, 41, 42);
}



.lables{
  font-size: 12px;
}

.navbar-toggler-icon {
  background-image: url("/public/burger.png");
  height: 20px;
  width: 25px;


}
.navbar-toggler {
    border: none  !important;
    outline: none;
    background-color: transparent;
}


.navbar-toggler:hover {
  background-color: grey;
  border:#1e1e22;
}


.navbar-nav{
  margin-right: 10%;
}

.nav-item{
  margin-right: 10px;
}


.Footer{
  text-align:center;
  background-color: #1e1e22;
  color:white;
  position: sticky;
  bottom: 0;
  z-index: 10;
  border: 1px;
  border:solid;
  border-bottom-color:  #1e1e22;
  border-left-color:  #1e1e22 ;
  border-right-color: #1e1e22 ;
  border-width: 1px; 
  border-top-color: rgb(41, 41, 42);

}

.lfe_footer{
  text-align:right;
  margin-right: 10px;
  margin-left: 10px;
  width:70%;

}


.Footer img
{
    cursor: pointer;
    margin: 5px;
    max-width: 50px;
  
}


.post_button_container{
  text-align:right;



}

/* post wall */
.jumbotron{
  min-width: 100px;
  color: grey;
  background-color:  #1e1e22 ;
  border-radius: 10px;
  margin-bottom: 0px;
  padding: 0px;

}

img {
  max-width: 100%;
}

img[src=""] {
  display: none;
}


/* single posts */
.singleposts{
  margin: 2px;
  padding: 2px;

}

.singleposts_bucket{

  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  border: solid;
  border-top-color:  #1e1e22;
  border-left-color:  #1e1e22 ;
  border-right-color: #1e1e22 ;
  border-width: 1px; 
  border-bottom-color: rgb(41, 41, 42);
  position: relative;
}

/* single posts */
.main-content{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 16px;
  max-width: 700px;
  overflow-wrap: break-word;
}

.usr_name{
  color:white;
  font-size: 10px;
  text-align: right;
  width: 55px;
  margin-left:auto;
  color: grey;
  }

.category  
  {
  color: grey;
  }


/* singlepost category */
.postcategory{
  color: grey;
  font-size: 12px;
  position: relative;
  text-align: left;
  min-width: 70px;
  white-space: nowrap;
  display: inline-block;
  /*transform: rotate(-90deg);*/

}

.post-action-left{
  padding-left: 5%;
}

.post-actions-right{
margin-left: auto;
padding: 1px;
padding-right: 9%;


}

.post-action{
  margin-right: 6px;
  font-size: 14px;
  -webkit-appearance: none !important;
  
}


/* singlepost category */

/* button */
  .btn{
    white-space: nowrap;
    background-color:  #1e1e22 ;
    border-color:white;
    border-width: 1px;
    border-radius: 10px;
    color:white;
    margin: 3px;
    padding: 5px;
    font-size: 12px;
  }


  .btn-primary{
    font-size:15px;
  }


  #post-btn{
    text-align: right;
  }

  .btn:hover{
    background-color: #004494;
    border-color:white;
    border-radius: 10px;
    color: white;
  }





#form_button_container{
  position:absolute;
}

#form_buttons{
  position:relative;
  left: 10px;

} 

/* button */
.form-group{
  margin: 0px;
  
}
/* button */



#fetch_button_container{
  width: 30%;
  margin: 0 auto;
}
  #upload_img{
    max-width: 35px;
  }

  #upload_img:hover{
    background-color: #004494;
    border-radius: 5px;
  }
  .image-upload > input
  {
      display: none;
  }
  .image-upload img
  {
      cursor: pointer;
  }
  .img-preview
  {
    padding: 2px;
    font-size: 8px;
    -webkit-appearance: none !important;
  }
  
  .img-preview img
  {
    -webkit-appearance: none !important;
    max-height: 100px;
  }

  /* likebutton */
  

  #small-button
  {
    font-size: 8px;
  }

  /* likebutton */

a {
  color: #FFF;
}

a:hover {
  color: yellow;
}

.singleposts_container{

  position:absolute;
}

.singlepost_text{

  margin-top: 5px;

}

.singlepost_img img{

  margin-top: 5px;
  position:relative;
  text-align: center;
  border-radius: 15px;
  border: solid; border-width: 1px; border-color: rgb(41, 41, 42);
  

}

/* upload foto */




/* input */
#Textarea{
  border-radius: 4px;
  text-align:left;
  font-size: 16px;
  min-width: 100px;
  min-height: 40px;
  overflow: hidden;
  height:auto;
}


#form-row{
  padding-top: 10px;
}

.post_dates{
  font-size:9px;
  color:grey;
}

.comments_bucket{
  color:white;
  margin: 2px;

  margin-left: 10px;
  padding-left: 5px;
  background-color: #1e1e22;

  border: solid; 
  border-width: 1px;
  border-top:#1e1e22;
  border-bottom:#1e1e22;
  border-right:#1e1e22;
  border-left-color: rgb(41, 41, 42);
  
}

#Comment_Area{
  background-color: white;
  color:#004494;
  font-size: 12px;

  
}

.comment-actions{
  margin-left: 65%;
}

.comment-action{
  margin-left: 10px;
  -webkit-appearance: none !important;
}

.comment{
  padding: 2px;
  width: 100%;
}

.profile_img{
  border-radius: 50%;
}

.comment-body{
  background-color: #1e1e22;
  width:90%;


}

.replies{
  margin-left: 10px;
  
}
.comment-actions{
  font-size:8px;
  text-align:right;
}

.comment_usr_name{
  font-size: 8px;
  margin-left: 5px;
}


#fetch_button{
  font-size: 9px;
}


.rti--container {
  --rti-s: "#fff";


}

.Tagger{
  background-color: var(--rti-s);
}

.postinfobox{
  color: yellow;
  background-color: #004494;
  margin: 5px;
  border-radius: 10px;
}

#post-icons{
  font-size: 10px;
  padding: 7px;
}

.Merch_container{
  min-width: 300px;
}

.merch_pics {
  margin: 0; /* Removes margin around each image container */
  padding: 0; /* Removes padding inside each image container */
}

.merch_pics img {
  height: 150px; /* Example height, adjust as needed */
  object-fit: cover; /* or 'contain' to fit the whole image */
  width: auto; /* Maintains the aspect ratio */
  display: block; /* Removes any default inline spacing */
  margin-right: -4px; /* Optional: Adjust if there's a small gap due to image rendering */
  min-width: 250px;
  min-height: 450px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
}

.enlarged-image {
  max-width: 50%;
  max-height: 50%;
}


.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}


/* Parent container styling (if necessary) */
div[style*="whiteSpace: nowrap; display: flex;"] {
  margin: 0;
  padding: 0;
}



.merch_form{
  min-width: 200px;
}

/* button merch */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  gap: 20px; /* Adjust the gap as needed */
}
/* Set minimum width for input fields */
.form-grid input {
  min-width: 200px;
}

/* Responsive adjustment, if needed */
@media (max-width: 600px) {
  .form-grid {
      grid-template-columns: 1fr;
  }
}

.loader-container {
  
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}
