body {
  margin: 0;
  font-family: MicroFLF;
}



@font-face {
  font-family: "MicroFLF";
  src: local("MicroFLF"),
  url("./fonts/MicroFLF.ttf") format("truetype");
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
